<h1>{{product.title}}</h1>
<div class="product-detail">
  <p><strong>Descripción:</strong> {{product.description}}</p>
  <p><strong>Precio:</strong> ${{product.price}}</p>
  <p><strong>Stock disponible:</strong> {{product.stock}}</p>
  <p><strong>Categoría:</strong> {{product.category}}</p>

  <form method="POST" action="/api/carts/{{cartId}}/product/{{product._id}}">
    <button type="submit">Agregar al carrito</button>
  </form>
</div>

<a href="/products" class="btn-back">⬅ Volver al listado</a>
